    html {background-color: #5e615a;}

    body {
        margin: 0 auto;
        max-width: 960px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5em;
        color: #545454;
        background-color: #ffffff;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    }
                
    /* CSS Ads */

        .header {margin:0 auto;text-align:center;overflow:hidden;}
        .header {width:100%;max-width:100%;margin:0 auto;background:transparent;text-align:center;overflow:hidden;padding-top:15px;padding-bottom:15px;}
        .header img, iframe{display:block;margin:0 auto;text-align:center;}
        .header {text-align:center;margin:0 auto;transition:all 1s ease-out;}
        .header .sidebar {padding:0;background:#333;box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);border:0;}
        .header .sidebar {margin-bottom:0;padding:0;}
        .header  img {margin-bottom:2px;margin-top:2px;text-align:center;transition:all 1s ease-out;}
        .header  img:hover {transition:all .5s ease-out;}
        .header {text-align:center;margin:0 auto;transition:all 1s ease-out;}
        .header .sidebar {padding:0;background:#f0f0f0;box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);border:0;}
        .header .sidebar {margin-bottom:0;padding:0;}
        .header  img {text-align:center;transition:all 1s ease-out;}
        .header  img:hover {transition:all .5s ease-out;}

    /*Start Header*/
                
        .header {
            background: #333;
            text-align: center;
            padding: 20px 0;
            width: 100%;
            margin-bottom: 15px;

        }
                
    /*End Header*/
                
    /*Start Container*/
                
    .container {
        max-width: 960px;
        padding: 0px;
    }
                
    /*End Container*/
                
    /*Start Footer*/
                
        .footer {
            background: #333;
            color: #FFF;
            text-align: center;
            padding: 10px 0;
        }
                
    /*End Footer*/
    
    /*Start Left Ads*/
                
    .leftAdsFix {
        float: left;
        margin-left: -50px;
        width: 160px;
        height: 600px;
    }
                
    /*End Left Ads*/
                
    /*Start Right Ads*/   
                
    .rightAdsFix {
        float: right;
        margin-right: -50px;
        width: 160px;
        height: 600px;
    }
                
    /*End Right Ads*/ 
    
    /*Start Body CC*/ 
                
   .row {
        margin: 0;
    }

    .bodyCC {
        direction: rtl;
        text-align: center;
        margin-top: 15px;
        padding-bottom: 44px;
    }
                
    /*End Body CC*/
     
    /*Start Title*/
                
    .titleH2 {
        font-family: Droid Arabic Kufi;
        font-size: 25px;
        text-align: center;
        direction: rtl;
        margin-bottom: 30px;
        font-weight: bold;
        line-height: 30px;
        color: #b30918;
    }
    h1,h2,h3,h4,h5,h6{margin:0}
                
    /*End Title*/
                
    /* Author : Tarkhawy (https://www.facebook.com/TarkhawyVIP) */
    .mct_shareit_locker{display:none;}
    .mct_shareit {
        /* border: 1px solid rgba(0,0,0,0.2); */
        font-family: Arial,Verdana;
        max-width: 720px;
        overflow: hidden;
        min-height: 301px;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        /* box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.5); */
        position: relative;
        margin: 10px auto;
        background: transparent;
    }
    .mct_shareit *{
        box-sizing: border-box;
        transition: all 1s cubic-bezier(1, 0.86, 0.38, -0.15);
    }
    .mct_shareit_content{
        overflow:hidden;
        max-width: 600px;
        color: #000;
        margin: 0px auto;
        background: #fff;
        /* position: absolute; */
        border: 1px solid rgba(0, 0, 0, 0.29);
        min-height: 300px;
    }
    .mct_close {
        float: right;
        text-decoration: none;
        padding: 2px 8px;
        background: rgba(0,0,0,0.78);
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
        line-height: 25px;
    }
    .mct_shareit_content h1,
    .mct_shareit_content h3{color: #000;}
    .mct_shareit_buttons{
        padding:10px;
        height: auto;
        width: 100%;
        position: relative;
    }
    .mct_shareit_button{
        text-decoration:none;
        position: relative;
        box-sizing: border-box;
        border:1px solid rgba(0,0,0,0.2);
        color: #FFF;
        background:#ccc;
        height: 36px;
        vertical-align: baseline;
        margin-top: 63px;
        min-width: 70px;
        max-width: 100px;
        text-align: center;
        margin-right: 10px;
        padding: 8px;
        cursor:pointer;
    }
    .mct_shareit_button div{display:inline}
    .mct_shareit_button>span{
        line-height: 33px;
        height: 100%;
        padding: 10px;
        position: relative;
        display: inline;
    }

    .mct_shareit_button_count{
        position: absolute;
        top: -63px;
        display: inline;
        left: 0;
        border: 1px solid rgb(230, 230, 230);
        width: 100%;
        color: #2d2d2d;
        background: #fff;
        border-radius: 5px;
        padding: 2px;
        text-align: center;
        height: 50px;
        line-height: 40px;
    }
    .mct_shareit_button_count:after{
        content:"";
        width: 0px;
        height: 0px;
        border-left: 9px solid transparent;
        border-right: 0px solid transparent;
        border-top: 9px solid #FFF;
        position: absolute;
        left: 20px;
        bottom: -9px;
    }
    .mct_shareit_button_count:before{
        content:"";
        width: 0px;
        height: 0px;
        border-left: 12px solid transparent;
        border-right: 0px solid transparent;
        border-top: 12px solid rgb(230, 230, 230);
        position: absolute;
        left: 18.2px;
        bottom: -12px;
    }
    .mct_shareit_blur {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        background: rgba(0, 0, 0, 0.04);
        height: 100%;
        -webkit-filter: blur(82px);
        filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
    }
    .mct_shareit_button.fb{
        background: #3b5998;
    }
    .mct_shareit_button.twitter {
        background: #00acee;
    }
    .mct_twitter_tweet,.mct_twitter_follow{display:left;}
    .mct_shareit_button.google-plus{
      background: #db4a39;
    }

    .mct_shareit_button.linkedin {
      background: #0e76a8;
    }
    .mct_margin_top{margin-top:70px;display:none;float: none;}
    .mct_shareit_button_title .fb-like {
        left: 0px;
        top: -10px;
    }
    .mct_shareit_msg {
        display: block;
        margin-top: 10px;
        text-align: center;
        font-size: 11px;
        position: absolute;
        bottom: 0px;
        padding: 5px;
        width: 100%;
        max-width: 601px;
        line-height: 30px;
    }
    .mct_shareit_msg a{text-decoration:none;font-weight:bold;color: #FF0000;}

    .mct_shareit_msg.error {
        background: red;
        color: #fff;
    }

    .mct_shareit_msg.error a{color:yellow}
    @media screen and (max-width:720px){
        .mct_shareit_content,.mct_shareit_msg {
            position:static;
            display: inline-block;
        }
    }
